$title-color2: #E2F063;
$text-color: #FFFFFF;
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
  min-width: 360px;
  @include flexColumn;
  align-items: center  
}

.title {
  color: $title-color2; 
  font-size: 40px;
  font-family: 'Gilroy-Regular', sans-serif;
  line-height: 120%;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 10px;    
}

img {
  width: 340px;
  height: 228px;
  border-radius: 8px;
}

.text {
  color: $text-color;
  @include flexColumn;
  gap: 30px;
  margin-left: 10px;
  margin-top: 30px;

  p {
    @include flexColumn;
    gap: 10px;
    font-size: 24px;
    margin: 0;

    span {
      display: block;
      font-size: 30px;
      font-family: 'Gilroy-Medium', sans-serif;
    }
  }

  p:last-child {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 20px;

  }
}