$title-color2: #E2F063;
$text-color: #FFFFFF;
// @mixin flexColumn {
//   display: flex;
//   flex-direction: column;
// }

.container {
  margin: auto;
  min-width: 360px;
  @include flexColumn;
  align-items: center  
}

.title {
  color: $title-color2; 
  font-size: 40px;
  font-family: 'Gilroy-Regular', sans-serif;
  line-height: 120%;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 10px;   
  width: 100%; 
  margin-left: 15px;

  @include ifdesktop {
    font-size: 70px;
    font-weight: 300;
    margin-left: 150px;
  }
}

img {
  width: 340px;
  height: 228px;
  border-radius: 8px;

  @include ifdesktop {
    width: 624px;
    height: 419px;
  }
}

.text {
  color: $text-color;
  @include flexColumn;
  gap: 30px;
  margin-left: 10px;
  margin-top: 30px;

  @include ifdesktop {
    width: 609px;
    height: 360px;
    margin-top: 23px;
    gap: 35px;
    }  

  p {
    @include flexColumn;
    gap: 10px;
    font-size: 24px;
    margin: 0;

    @include ifdesktop {
      flex-direction: row;
      justify-content: space-between;
      font-size: 28px;
    }
  
  span {
      display: block;
      font-size: 30px;
      font-family: 'Gilroy-Medium', sans-serif;

      @include ifdesktop { 
        font-size: 40px;
      }
      
    }
  }
}

.textLong {
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 20px;
  color: $text-color;
  width: 360px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;

  @include ifdesktop { 
    width: 1287px;
    font-size: 36px;
  }
}

.loading {
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 80px;
  margin-left: 15px;
}

.block {
  display: flex;
  flex-direction: column;

  @include ifdesktop {
    flex-direction: row;
    gap: 45px;
  }
}


