$text-color: white;

.wrapperMenu {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;  
  font-size: 60px;
  font-family: 'Gilroy-Extrabold', sans-serif;
  font-weight: 300;
  text-decoration: none;
  position: fixed;
  background-color: #1E1E1E;

  a {
    text-decoration: none; 
    color: white; 
    cursor: pointer;
  }

  a:hover {    
    color:aqua; 
    text-decoration: underline;
  }
}

