$title-color2: #E2F063;
$text-color: white;


.title {
  color: $title-color2; 
  font-size: 40px;  
  line-height: 120%;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 10px;
}
