$title-color2: #E2F063;
$text-color: white;


.title {
  color: $title-color2; 
  font-family: Gilroy-Medium, sans-serif;
  font-size: 40px;  
  line-height: 120%;
  font-weight: 400;
  margin-top: 75px;
  margin-bottom: 17px;
  margin-left: 8px;
}
