.liner {
  width: 318px;
  position: absolute;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 6px; 
  background: linear-gradient(#8B39B2 0%, #E2F063 100%, #8B39B2 0%, #E2F063 100%);  
  filter: blur(100px);
  opacity: 60%;     
  border-radius: 100%; 

  
  
  @include ifdesktop {
    transform: rotate(90deg);
    width: 300px;
    height: 1200px;
    position: absolute;
    top: -170px;
    right: 0;
    bottom: 0;
    left: 520px;
    background: linear-gradient(#8B39B2 0%, #E2F063 100%, #8B39B2 0%, #E2F063 100%);
    filter: blur(60px);
    opacity: 50%;
    border-radius: 100%;
  }
}