$text-color: #1E1E1E;
$background-color:#FFFFFF;

.container {
  width: 340px;
  height: 330px;
  margin-left: 10px;
  color: $text-color;
  font-family: 'Gilroy', sans-serif;
  font-size: 22px;
  background-color: $background-color;
  border-radius: 8px;
  margin-bottom: 20px;  
  display: block;
  text-decoration: none;
}

.wrapper {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 140%;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.cost {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 20px;
  margin-left: 27px;
  margin-right: 27px;


  span:last-child {
    font-family: 'Gilroy', sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
}

.name {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  margin-left: 27px;
  margin-right: 27px;
  white-space: nowrap;
  overflow: hidden;
  gap: 15px;
}

.name span:last-child {
  font-family: 'Gilroy', sans-serif;
  font-size: 22px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image {
  width: 304px;
  height: 195px;
  border-radius: 8px;
}


