$logo-color: #FFFFFF;
$background-color: #1E1E1E;
$text-color: white;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;  
  height: 18px;
  margin: 27px 9px;
    .logo {
      font-family: "Open Sans", sans-serif;  
      color: $logo-color;
      font-size: 30px;
      padding-left: 2px;
      letter-spacing: 0.3px;
    }
    .logoLink {
      text-decoration: none; 
    }
}

.hidden {
  display: none;
}

.wrapper-menu {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-color;
  font-size: 60px;
  font-family: 'Gilroy-Extrabold', sans-serif;
  font-weight: 300;
  margin-left: 3px;
  

  a {
    text-decoration: none;
  }

  .link {
    text-decoration: none;
  }
}

.menu {
  cursor: pointer;
}

