@import './fonts/Gilroy/gilroy.scss';

body {
  font-family: 'Gilroy', sans-serif;  
  background-color: #1E1E1E;
  margin: 0;
  padding: 0;  
} 

// @media screen and (min-width: 360px) {
//   body {
//     font-size: 14px; 
//   }
// }


